In [4]:
import pandas as pd
import numpy as np
import scipy as stats
import matplotlib.pyplot as plt

In [7]:
# Read in the Students data file
death = pd.read_csv('NCHS_-_Leading_Causes_of_Death__United_States.csv')

# View the first few rows of the dataset
death.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,169936,49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703,53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184,56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625,51.8

In [14]:
# Calculate summary statistics
death.describe().round(2)

           Year      Deaths  Age-adjusted Death Rate
count  10868.00    10868.00                 10868.00
mean    2008.00    15459.91                   127.56
std        5.48   112876.02                   223.64
min     1999.00       21.00                     2.60
25%     2003.00      612.00                    19.20
50%     2008.00     1718.50                    35.90
75%     2013.00     5756.50                   151.72
max     2017.00  2813503.00                  1087.30