In [1]:
import pandas as pd

df = pd.read_csv('../data/processed/US_Deaths_Populations.csv', sep=',')

df.head()

,Year,Cause Name,State,Deaths,Age-adjusted Death Rate,Population
0,2017,Unintentional injuries,United States,169936,49.4,329791231
1,2017,Unintentional injuries,Alabama,2703,53.8,4874747
2,2017,Unintentional injuries,Alaska,436,63.7,739795
3,2017,Unintentional injuries,Arizona,4184,56.2,7016270
4,2017,Unintentional injuries,Arkansas,1625,51.8,3004279